.App {
  text-align: center;
}
body {
  background-image: url("https://i.imgur.com/1DZ8Ug8.gif");
  background-size:cover;
  background-color: grey;
}
li {
  list-style-type: none;
}
.App > a {
  text-decoration: none;
  padding: 5px;
  background-color: rgb(72, 37, 87);
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 255, 229), 0 0 1em rgb(0, 255, 30), 0 0 0.2em rgb(255, 0, 119);
}