
.exchange-container a:link {
  color: rgb(0, 174, 29);
}
.exchange-container a:visited {
  color: rgb(0, 106, 18);
}
.exchange-container a:focus {
  color: rgb(174, 12, 0);
}



.buy-form a:link, .buy-form a:visited {
  color: rgb(0, 106, 18)
}

.sell-form a:link, .sell-form a:visited {
  color: rgb(157, 0, 0)
}
